
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>
        body {
          background-image: url('https://cdn.dribbble.com/users/1967572/screenshots/13879918/media/6ae747cae728b8a943fc2f2aa8175666.png?compress=1&resize=400x300&vertical=top');
        }
        </style>
</head>
<body>
    <div>
        <h1 style="color:antiquewhite; text-align: center; text-shadow: 5px 2px #ff0000; text-overflow: ellipsis;font-family: 'Times New Roman', Times, serif; font-size: 80px;">Juan's Bar</h1>
      </div>
</body>
</html>
