
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
          background-image: url('https://cdn.dribbble.com/users/1967572/screenshots/13879918/media/6ae747cae728b8a943fc2f2aa8175666.png?compress=1&resize=400x300&vertical=top');
        }
        </style>
</head>

<body>
    <h1> --BARTENDER-- </h1>
</body>
</html>
